* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f5f7fa;
    color: #111;
}

header {
    background: #0b0f19;
    color: white;
    padding-bottom: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 8%;
    position: sticky;
    top: 0;
    background: #0b0f19;
}

.logo h1 {
    font-size: 32px;
}

.logo p {
    color: #2da9ff;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    gap: 25px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    color: #2da9ff;
}

.hero {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 60px 8%;
}

.hero-text {
    max-width: 500px;
}

.hero-text h2 {
    font-size: 45px;
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 20px;
    margin-bottom: 25px;
}

.hero-image img {
    width: 300px;
}

.button {
    background: #2da9ff;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
}

section {
    padding: 60px 8%;
}

section h2 {
    text-align: center;
    font-size: 35px;
    margin-bottom: 40px;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.card {
    background: white;
    padding: 30px;
    border-radius: 15px;
    width: 300px;
    box-shadow: 0 5px 15px #ccc;
    text-align: center;
}

.card:hover {
    transform: translateY(-8px);
    transition: .3s;
}

.about {
    background: #0b0f19;
    color: white;
    text-align: center;
}

footer {
    background: black;
    color: white;
    text-align: center;
    padding: 20px;
}

.page {
    padding: 60px 8%;
}

.page h1 {
    text-align: center;
    margin-bottom: 30px;
}

form {
    max-width: 500px;
    margin: auto;
}

input, textarea {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 8px;
    border: 1px solid #ccc;
}

button {
    background: #2da9ff;
    color: white;
    padding: 15px;
    border: none;
    width: 100%;
    border-radius: 8px;
}

@media(max-width:800px){

    nav {
        flex-direction: column;
        gap: 20px;
    }

    .hero {
        flex-direction: column;
        text-align: center;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

}